        <% /* navbar starts */ %>
        <div class="ui secondary menu">
          <div class="ui container">
            <div class="header item"><i class="code"></i>Zero To Mastery</div>

              <a href="/links" class="item">Home</a>
              <div class="right menu">
                <a href="/logout" class="ui item">
                  logout
                </a>
              </div>
            
          </div>
        </div>
        <% /* navbar ends */ %>