<% include ./partials/header %>

<% include ./partials/navbar %>
	<div class="main container">
	<article class="br3 ba mv4 w-100 w-50-m w-25-l mw6 shadow-5 center">
	  <main class="pa4 black-80">
	    Cannot do it right now, try again
	  </main>
	</article>
	</div>

<% include ./partials/footer %>