<% include ./partials/header %>

	<div class="main container">
	



      <form action="/admin" method="post">


        <article class="br3 ba b--black-10 mv4 w-100 w-50-m w-25-l mw6 shadow-5 center">
        <main class="pa4 black-80">
          <div class="measure">
            <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
              <legend class="f1 fw6 ph0 mh0">login</legend>
              <legend class="f4 fw4 ph0 mh0 pa2">to admin panel</legend>
              <% if(isWrong) { %>
                <span class="f4 fw4 ph0 mh0 pa2 red">wrong email/password</span>
              <% } %>
              <div class="mt3">
                <label class="db fw6 lh-copy f6" htmlFor="email-address">Email</label>
                <input
                  class="pa2 input-reset ba bg-transparent w-100"
                  type="email"
                  name="username"
                  id="email-address"
                />
              </div>
              <div class="mv3">
                <label class="db fw6 lh-copy f6" htmlFor="password">Password</label>
                <input
                  class="b pa2 input-reset ba bg-transparent w-100"
                  type="password"
                  name="password"
                  id="password"
                />
              </div>
            </fieldset>
            

            <div>
              <input
                class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit"
                value="Sign in"
              />
            </div>
          </div>
        </main>
      </article>

              
      </form>




      </div>

<% include ./partials/footer %>